{% extends 'base.html.twig' %}

{% block title %}Add product{% endblock %}

{% block body %}
    {{ parent() }}

    <h2 style="margin-top: 90px">Add product</h2>

    {{ form(add_product_form) }}

    <h5>{{ answer }}</h5>
{% endblock %}
